<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078150250470-5m01iimt4pim1arghr7u0dtf9i3if3uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078150250470-5m01iimt4pim1arghr7u0dtf9i3if3uk</string>
	<key>API_KEY</key>
	<string>AIzaSyCuBMBJbRrzMFGKnpmc8fcKqw80oaO2zbE</string>
	<key>GCM_SENDER_ID</key>
	<string>1078150250470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-study</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-study.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078150250470:ios:9487f670227df77c122027</string>
</dict>
</plist>